.gradient-background{

    background: linear-gradient(300deg,#00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;

    }
}

.feature-icon{

    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
}

.profileimg{
    height: 100px;
    border-radius: 50%;
}

#iiser01{

    mix-blend-mode: multiply;


 }

.button-container {
    text-align: center;
}

.try-test-button {
    display: inline-block;
    background-color: #007bff; /* Primary button color */
    color: #ffffff; /* Text color */
    text-decoration: none;
    font-size: 18px;
    padding: 12px 24px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}

.try-test-button:hover {
    background-color: #0056b3; /* Darker shade on hover */
    transform: translateY(-2px); /* Slight lift on hover */
}

.try-test-button:active {
    background-color: #004085; /* Even darker shade when clicked */
    transform: translateY(0); /* Reset lift on click */
}
